.App {
	display: flex;
	flex-direction: column;
	width: 90%;
	height: 100%;
	border-radius: 10px;
	box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.14);
	margin: 50px;
	padding: 50px;
	background-image: url(./images/background.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	align-items: center;
}
.form {
	width: 600px;
	display: flex;
	flex-direction: column;
}
.form-background {
	background-color: #012f6a18;
	padding: 30px;
}
.navbar {
	border-radius: 6px;
	font-size: 20px;
	font-weight: bold;
	display: flex;
	padding: 20px;
	margin-bottom: 20px;
	justify-content: center;
}
.nav-item {
	margin-right: 30px;
	text-decoration: none;
	color: #ce1e1e;
}
.nav-item-two {
	margin: 0%;
	text-decoration: none;
	color: #ce1e1e;
}
.nav-item:hover {
	color: #012f6a;
	font-weight: bold;
}
.nav-item-two:hover {
	color: #012f6a;
	font-weight: bold;
}
h1,
h2 {
	color: #ce1e1e;
	font-weight: bold;
}
.main-text {
	color: #012f6a;
	font-weight: bold;
}
.button {
	background-color: #ce1e1e;
	color: #fafcfb;
	border-radius: 10%;
	border: 1px solid #fafcfb;
	margin: 5px 0;
}
.button:hover {
	background-color: #012f6a;
	font-weight: bold;
}
.input {
	border-radius: 6%;
	border: 1px solid #fafcfb;
}
.textarea {
	border: 1px solid #fafcfb;
	border-radius: 6%;
	width: 600px;
}
.map-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.map-area {
	display: flex;
	flex-direction: column;
	width: 130px;
}
.form-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}
input {
	margin: 5px 0;
}
.Home {
	width: 60%;
}
.logo {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.link-logo {
	margin-right: 20px;
}
.links {
	margin-top: 40px;
}
.footer {
	margin-top: 50px;
	display: flex;
	color: #012f6a;
	justify-content: space-between;
}
.footer-1 {
	display: flex;
}
.footer-2 {
	display: flex;
}
.footer-1 > div {
	margin: 0 10px;
}
.footer-2 > div {
	margin: 0 10px;
}
.daisy {
	height: 150px;
	width: 200px;
	margin-right: 10px;
	border-radius: 50%;
}
.main-article {
	display: flex;
}
.article {
	word-wrap: normal;
}
.partner-logo {
	height: 100px;
	width: 150px;
}
.partner-logo-tlv {
	height: 100px;
	width: 200px;
}
.partner-logo-ntn {
	height: 100px;
	width: 100px;
}
.partner-wrapper {
	display: flex;
	flex-direction: row;
	margin-top: 15px;
}
.mobile-logo {
	display: none;
}
@media only screen and (max-width: 480px) {
	body {
		background-image: url(./images/background.jpeg);
	}
	.App {
		margin: 5px;
		padding: 5px;
		width: 100%;
		border: none;
		box-shadow: none;
		background: none;
		align-items: center;
	}
	.form {
		margin: 0%;
		padding: 0%;
		width: 300px;
		display: flex;
		flex-direction: column;
	}
	.links {
		display: flex;
		flex-direction: column;
		margin-top: 5px;
	}
	.daisy {
		display: none;
	}
	.footer {
		display: flex;
		flex-direction: column;
	}
	.footer-1 {
		display: flex;
		flex-direction: column;
	}
	.footer-2 {
		display: flex;
		margin-top: 10px;
	}
	.map {
		margin: 0;
		padding: 0;
		width: 300px;
		height: 150px;
	}
	.map-area {
		margin: 0;
		padding: 0;
	}
	.form-background {
		width: 300px;
	}
	.textarea {
		width: 300px;
	}
	.form-wrapper {
		margin: 0%;
		width: 100vw;
	}

	.Home {
		margin: 0;
		padding: 0;
		width: 300px;
	}
	.main-article {
		margin: 0;
		padding: 0;
		width: 300px;
	}
	.partner-wrapper {
		display: flex;
		flex-direction: column;
	}
	.logo {
		width: 50px;
		height: 50px;
	}
	.mobile-logo {
		display: flex;
	}
	.desktop-logo {
		display: none;
	}
	.partner-subwrapper {
		display: flex;
	}
}
